"always-auth" "true"
"email" "jone.lura@gmail.com"
"username" "lurajon"
registry "https://registry.npmjs.org"
"@navikt:registry" "https://npm.pkg.github.com"
"//npm.pkg.github.com/:_authToken" "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"
"//npm.pkg.github.com/:_header:Authorization" "token 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"